.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.price {
  display: flex;
  margin: 4px 0 4px 0;
}

.text_price {
  padding: 0 8px 0 0;
}