.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-height: 600px;
  overflow-y: scroll;
}

.box::-webkit-scrollbar {
  width: 8px;
}

.box::-webkit-scrollbar-track {
  
}

.box::-webkit-scrollbar-thumb {
  background: #8585AD;
  
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 24px;
}

.text {
  margin: 40px 0 24px 0;
}